{% extends "djkorra/base.html" %}
{% block title %}
    Excavate/Bore
{% endblock %}
{% block content_head %}
    <h1 id="page-title">Excavate or Bore Form</h1>
{% endblock %}
{% block extra_style %}
<style>
    input[type=checkbox]
    {
      -webkit-appearance:checkbox;
    }
    input[type=radio]
    {
      -webkit-appearance:radio;
    }
</style>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
    $("img.hidden").css("display", "none");
    $('#id_applicant_name').change(function() {
        if(!validateApplicantName()){ 
            $('#applicant_name_no').css("display", "inline");
            $('#applicant_name_yes').css("display", "none");
        }
        else {
            $('#applicant_name_no').css("display", "none");
            $('#applicant_name_yes').css("display", "inline");
        }
    });
    $('#id_phone').change(function() {
        if(!validatePhone()){ 
            $('#phone_no').css("display", "inline");
            $('#phone_yes').css("display", "none");
        }
        else {
            $('#phone_no').css("display", "none");
            $('#phone_yes').css("display", "inline");
        }
    });
    $('#id_company').change(function() {
        if(!validateCompany()){
            $('#company_no').css("display", "inline");
            $('#company_yes').css("display", "none");
        }
        else {
            $('#company_no').css("display", "none");
            $('#company_yes').css("display", "inline");
        }
    });
    $('#id_reason_for_excavation_or_boring').change(function(){
        if(!validateReasonForExcavationOrBoring()){
            $('#reason_for_excavation_or_boring_no').css("display", "inline");
            $('#reason_for_excavation_or_boring_yes').css("display", "none");
        }
        else {
            $('#reason_for_excavation_or_boring_no').css("display", "none");
            $('#reason_for_excavation_or_boring_yes').css("display", "inline");
        }
    });
    $('#id_location_of_excavation_including_termination_points').change(function(){
        if(!validateLocationOfExcavationIncludingTerminationPoints()){
            $('#location_of_excavation_including_termination_points_no').css("display", "inline");
            $('#location_of_excavation_including_termination_points_yes').css("display", "none");
        }
        else{
            $('#location_of_excavation_including_termination_points_no').css("display", "none");
            $('#location_of_excavation_including_termination_points_yes').css("display", "inline");
        }
    });
    $('#id_start_date_for_excavation').change(function() {                               
        if(!validate_start_date_for_excavation()){ 
            $('#start_date_for_excavation_no').css("display", "inline");
            $('#start_date_for_excavation_yes').css("display", "none");
            //if start date is incorrect then we can't determine if end date is correct so we hide checks and x's
            $('#projected_end_date_for_excavation_no').css("display", "none");
            $('#projected_end_date_for_excavation_yes').css("display", "none");
        }
        else {
            $('#start_date_for_excavation_no').css("display", "none");
            $('#start_date_for_excavation_yes').css("display", "inline");
            //if entered date is valid check to see if end date is now valid
            if($('#id_projected_end_date_for_excavation').val() != "")
            {
                if(!validate_projected_end_date_for_excavation()){ 
                    $('#projected_end_date_for_excavation_no').css("display", "inline");
                    $('#projected_end_date_for_excavation_yes').css("display", "none");
                }
                else {
                    $('#projected_end_date_for_excavation_no').css("display", "none");
                    $('#projected_end_date_for_excavation_yes').css("display", "inline");
                }
            }
        }
    });
    $('#id_projected_end_date_for_excavation').change(function() {
        //only validate end date if start date is valid because we can't know if end date is valid otherwise
        if(validate_start_date_for_excavation())
        {
            if(!validate_projected_end_date_for_excavation()){ 
                $('#projected_end_date_for_excavation_no').css("display", "inline");
                $('#projected_end_date_for_excavation_yes').css("display", "none");
            }
            else {
                $('#projected_end_date_for_excavation_no').css("display", "none");
                $('#projected_end_date_for_excavation_yes').css("display", "inline");
            }
        }
    });
    function validateApplicantName(){
        var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
        return patt.test($("#id_applicant_name").val());
    }
    function validatePhone(){
        var patt = new RegExp('^((?:1?[\\s\\-\\.\\/]?\\(?(?:\\d{3})\\)?)?[\\s\\-\\.\\/]?\\d{3}[\\s\\-\\.\\/]?\\d{4}(?:\\s?(?:x|ext|\\.)?\\s?\\d{4})?)$');
        return patt.test($("#id_phone").val());
    }
    function validateCompany(){
        var patt = new RegExp('.+');
        return patt.test($("#id_company").val());
    }
    function validateReasonForExcavationOrBoring(){
        var patt = new RegExp('.+');
        return patt.test($("#id_reason_for_excavation_or_boring").val());
    }
    function validateLocationOfExcavationIncludingTerminationPoints(){
        var patt = new RegExp('.+');
        return patt.test($("#id_location_of_excavation_including_termination_points").val());
    }
    function validate_start_date_for_excavation(){
        if($("#id_start_date_for_excavation").val() == "")
        {
            return false;
        }
        var newdate = new Date();
        var value = $("#id_start_date_for_excavation").val().split("-");
        var inputdate = new Date(value[0],value[1]-1,value[2]);
        if (inputdate.getTime() < newdate.getTime()){
            return false;
        }
        else{
            return true;
        }
    }
    function validate_projected_end_date_for_excavation(){
        if($("#id_projected_end_date_for_excavation").val() == "")
        {
            return false;
        }
        var newdate = new Date();
        var value = $("#id_projected_end_date_for_excavation").val().split("-");
        var start_value = $("#id_start_date_for_excavation").val().split("-");
        var inputdate = new Date(value[0],value[1]-1,value[2]);
        var start_date = new Date(start_value[0],start_value[1]-1,start_value[2])
        if (inputdate.getTime() < newdate.getTime()){
            return false;
        }
        else if(!validate_start_date_for_excavation() || inputdate.getTime() < start_date.getTime())
        {
            return false;
        }
        else{
            return true;
        }
    }
</script>
{% endblock %}
{% block content %}
<form action='' method='post' class = "form">{% csrf_token %}
    <fieldset class="blockLabels">
        <legend>Type of Work</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="excavate_bore_0"></label></h3>
                <ul>
                    <li><label for="excavate_bore_0"><input checked="checked" id="excavate_bore_0" name="excavatebore" type="radio" value="EXC" /> Excavate</label></li>
                    <li><label for="excavate_bore_1"><input id="excavate_bore_1" name="excavatebore" type="radio" value="BORE" /> Bore</label></li>
                </ul>
            </li>
        </ol>
    </fieldset>
    <fieldset class="blockLabels">
        <legend>Applicant Info</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_applicant_name">{{ form.applicant_name.label }}</label></h3>
                <div class="required">
                    <input id="id_applicant_name" maxlength="100" name="name" type="text" />
                    <img class='hidden' id='applicant_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='applicant_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_phone">{{ form.phone.label }}</label></h3>
                <div class="required">
                    <input id="id_phone" maxlength="100" name="phone" type="text" />
                    <img class='hidden' id='phone_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='phone_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_company">{{ form.company.label }}</label></h3>
                <div class="required">
                    <input id="id_company" maxlength="100" name="company" type="text" />
                    <img class='hidden' id='company_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='company_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
        </ol>
    </fieldset>
    <fieldset class="blockLabels">
        <legend>Project Info</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_reason_for_excavation_or_boring">Reason for excavating or boring</label></h3>
                <div class="required">
                    <input id="id_reason_for_excavation_or_boring" maxlength="100" name="reason" type="text" />
                    <img class='hidden' id='reason_for_excavation_or_boring_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='reason_for_excavation_or_boring_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_location_of_excavation_including_termination_points">Location of work including termination points</label></h3>
                <div class="required">
                    <input id="id_location_of_excavation_including_termination_points" maxlength="100" name="location" type="text" />
                    <img class='hidden' id='location_of_excavation_including_termination_points_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='location_of_excavation_including_termination_points_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_start_date_for_excavation">Start date of work</label></h3>
                <div class="required">
                    <input id="id_start_date_for_excavation" maxlength="100" name="start" type="date" />
                    <img class='hidden' id='start_date_for_excavation_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='start_date_for_excavation_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_projected_end_date_for_excavation">Projected end date</label></h3>
                <div class="required">
                    <input id="id_projected_end_date_for_excavation" maxlength="100" name="end" type="date" />
                    <img class='hidden' id='projected_end_date_for_excavation_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='projected_end_date_for_excavation_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
        </ol>
    </fieldset>
    <fieldset class="blockLabels">
        <legend>Permit Info</legend>
        <ol>
            <li>The permitting process is designed to help prevent damage during excavation /
                boring operations on the Carthage Campus. It is also to insure that all contractors
                adhere to appropriate landscape / tree preservation and protection practices. It is
                not intended to modify a project's drawings or specifications.<br>
                The applicant will review, in detail, the proposed area of excavation with an
                authorized member of the facilities department of Carthage. A formal meeting with
                other campus departments may also be required. No excavation or boring
                may proceed without written authorization as provided by this permit signed by
                the Associate Vice President for Business.<br>
                Boring procedures will include line and grade control by a licensed surveryor or
                professional engineer. The procedures will include verification and summary of the work
                performed by the licensed surveyor or engineer and shall be submitted to the campus facilities
                staff upon completion of boring.<br>
                Upon completion of the excavation / boring project, as-built drawings of work
                performed will be provided to campus facilities staff. These drawings will include
                positional data including elevations for all items that were installed as part of the excavation project.<br>
                The applicant will clearly mark the boundary of the proposed excavation / boring site. All locates,
                public and private, shall be the responsiblity of the applicant. Campus facilities services will cooperate
                with information sharing but the final responsibility for locating and protecting campus utilities and infrastructure
                is the sole responsibility of the applicant.<br>
                The applicant will provide, with this completed application, an insurance certificate showing the following coverage:
                <ul class="bullets">
                    <li>General Liability - $1,000,000</li>
                    <li>Automobile Liability - $1,000,000</li>
                    <li>Workers Compensation - $1,000,000</li>
                    <li>Employer Liability - $1,000,000</li>
                </ul>
                The successful issuance of an excavation permit <b>DOES NOT</b> grant the applicant
                permission to deactivate, energize or de-energize, lockout tag out, change any
                utilities, feeds, or value settings without the express consent of the Carthage
                facilities department. If any utility or service disruptions are expected as part of this project,
                they must be disclosed as part of this application process.<br>
                Applicant is responsible for tree protection including a temporary fence at all tree
                drip line is required by the College. Applicant is responsible for the proper removal and off
                campus disposal of all spoils. Disturbed turf must be restored within five days of
                the end of excavation / boring.<br>
                The applicant agrees that if any part of these requirements is not fulfilled, Carthage
                will make remedies at the applicant's sole expense.<br>
            </li>
        </ol>
    </fieldset>
    <fieldset class="blockLabels">
        <legend>Accept and Submit</legend>
        <ol>
            <li>I acknowledge as an applicant of an excavation / boring permit I have reviewed the permit
                procedures and agree to comply with the above terms and conditions</li>
            <li class="btnHolder">
                <input type="Submit" name="submit" value="Submit Form" class="button"/>
            </li>
        </ol>
    </fieldset>
</form>
{% endblock %}