<!doctype html>
<html lang="en">
<head>
    <style>.error {color: red}</style>
    <meta charset="utf-8" />
    <title>Excavate / Bore Form</title>
    <link rel='stylesheet' type='text/css' href='{{static_url}}djbuis/css/base_css.css'/>
    <script>
        $(document).ready(function() {  
            $( "#accordion" ).accordion({
                heightStyle: "content",
                collapsible: true,
                active: false,
            });
        });
        function validateApplicantName(){
            var id = document.getElementById('id_applicant_name');
            var val = id.value;
            var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
            return patt.test(val);
        }
        function validateCompany(){
            var id = document.getElementById('id_company');
            var val = id.value;
            var patt = new RegExp('.+');
            return patt.test(val);
        }
        function validateReasonForExcavationOrBoring(){
            var id = document.getElementById('id_reason_for_excavation_or_boring');
            var val = id.value;
            var patt = new RegExp('.+');
            return patt.test(val);
        }
        function validateLocationOfExcavationIncludingTerminationPoints(){
            var id = document.getElementById('id_location_of_excavation_including_termination_points');
            var val = id.value;
            var patt = new RegExp('.+');
            return patt.test(val);
        }
        function validate_start_date_for_excavation(){
            var id = document.getElementById('id_start_date_for_excavation');
            var val = id.value;
            var newdate = new Date();
            var value = val.split("-");
            var inputdate = new Date(value[0],value[1]-1,value[2]);
            if (inputdate.getTime() < newdate.getTime()){
                return false;
            }
            else{
                return true;
            }
        }
        function validate_projected_end_date_for_excavation(){
            var id = document.getElementById('id_projected_end_date_for_excavation');
            var val = id.value;
            var newdate = new Date();
            var value = val.split("-");
            var inputdate = new Date(value[0],value[1]-1,value[2]);
            if (inputdate.getTime() < newdate.getTime()){
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</head>
<body>
    <div>
        {% if submitted %}
                <h2>Your form has been submitted, thank you</h2>
        {% endif %}
    </div>
    <div>
        <div class='sidebar'>
            <img src='http://imageshack.us/a/img651/7008/carthage1.png'></img>
        </div>
        <div class='mainbar'>
            <div class='header'>
                <text class='headertext'>Excavate and Bore Form</text>
            </div><br>
            {{ form.non_field_errors }}
            <form action='' method='post'>{% csrf_token %}
                <text class='separator'>Permit Type</text><hr>
                {% for e in form.excavate.errors %}
                    <text class='error'>{{ e }}</text>
                {% endfor %}
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.excavate.label }}</text></td>
                        <td>{{ form.excavate }}</td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.bore.label }}</text></td>
                        <td>{{ form.bore }}</td>
                        <td>
                            {% for e in form.bore.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Applicant Information</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.applicant_name.label }}</text></td>
                        <td>{{ form.applicant_name }}</td>
                        <td>
                            <img class='hidden' id='applicant_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='applicant_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.applicant_name.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.company.label }}</text></td>
                        <td>{{ form.company }}</td>
                        <td>
                            <img class='hidden' id='company_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='company_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.company.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Project information</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.reason_for_excavation_or_boring.label }}</text></td>
                        <td>{{ form.reason_for_excavation_or_boring }}</td>
                        <td>
                            <img class='hidden' id='reason_for_excavation_or_boring_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='reason_for_excavation_or_boring_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.reason_for_excavation_or_boring.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.location_of_excavation_including_termination_points.label }}</text></td>
                        <td>{{ form.location_of_excavation_including_termination_points }}</td>
                        <td>
                            <img class='hidden' id='location_of_excavation_including_termination_points_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='location_of_excavation_including_termination_points_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.location_of_excavation_including_termination_points.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.start_date_for_excavation.label }}</td>
                        <td>{{ form.start_date_for_excavation }}</td>
                        <td>
                            <img style='display:none;' id='start_date_for_excavation_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='start_date_for_excavation_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.start_date_for_excavation.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.projected_end_date_for_excavation.label }}</text></td>
                        <td>{{ form.projected_end_date_for_excavation }}</td>
                        <td>
                            <img style='display:none;' id='projected_end_date_for_excavation_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='projected_end_date_for_excavation_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.projected_end_date_for_excavation.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>General Provisions</text><hr>
                <ul>
                    <li>The permitting process is designing to help prevent damage during excavation /
                    boring operations on the Carthage Campus. It is also to insure that all contractors
                    adhere to appropriate landscape / tree preservation and protection practices. It is
                    not intended to modify a project's drawings or specifications</li>
                    <li>The applicant will review, in detail, the proposed area of excavation with an
                    authorized member of the facilities department of Carthage. A formal meeting with
                    other campus departments may also be required. No excavation or boring
                    may proceed without written authorization as provided by this permit signed by
                    the Associate Vice President for Business</li>
                    <li>Boring procedures will include line and grade control by a licensed surveryor or
                    professional engineer. The procedures will include verification and summary of the work
                    performed by the licensed surveyor or engineer and shall be submitted to the campus facilities
                    staff upon completion of boring</li>
                    <li>Upon completion of the excavation / boring project, as-built drawings of work
                    performed will be provided to campus facilities staff. These drawings will include
                    positional data including elevations for all items that were installed as part of the excavation project</li>
                    <li>The applicant will clearly mark the boundary of the proposed excavation / boring site. ALl locates,
                    public and private, shall be the responsiblity of the applicant. Campus facilities services will cooperate
                    with information sharing but the final responsibility for locating and protecting campus utilities and infrastructure
                    is the sole responsibility of the applicant</li>
                    <li>The applicant will provide, with this completed application, an insurance certificate showing the following coverage:</li>
                    <ul>
                        <li>General Liability - $1,000,000</li>
                        <li>Automobile Liability - $1,000,000</li>
                        <li>Workers Compensation - $1,000,000</li>
                        <li>Employer Liability - $1,000,000</li>
                    </ul>
                    <li>The successful issuance of an excavation permit <b>DOES NOT</b> grant the applicant
                    permission to deactivate, energize or de-energize, lockout tag out, change any
                    utilities, feeds, or value settings without the express consent of the Carthage
                    facilities department. If any utility or service disruptions are expected as part of this project,
                    they must be disclosed as part of this application process</li>
                    <li>Applicant is responsible for tree protection including a temporary fence at all tree
                    drip line is required by the College. Applicant is responsible for the proper removal and off
                    campus disposal of all spoils. Disturbed turf must be restored within five days of
                    the end of excavation / boring</li>
                    <li>The applicant agrees that if any part of these requirements is not fulfilled, Carthage
                    will make remedies at the applicant's sole expense.</li>
                </ul><br>
                <text>
                    I acknowledge as an applicant of an excavation / boring permit I have reviewed the permit procedures and agree to comply with the above terms and conditions
                </text><br><br>
                <input type="Submit" id="submit" value="Submit form"></submit>
            </form>
        </div>
    </div>
</body>
    <script type="text/javascript">
        document.getElementById('applicant_name_no').style.display = 'none';
        document.getElementById('applicant_name_yes').style.display = 'none';
        document.getElementById('company_no').style.display = 'none';
        document.getElementById('company_yes').style.display = 'none';
        document.getElementById('reason_for_excavation_or_boring_no').style.display = 'none';
        document.getElementById('reason_for_excavation_or_boring_yes').style.display = 'none';
        document.getElementById('location_of_excavation_including_termination_points_no').style.display = 'none';
        document.getElementById('location_of_excavation_including_termination_points_yes').style.display = 'none';
        document.getElementById('start_date_for_excavation_no').style.display = 'none';
        document.getElementById('start_date_for_excavation_yes').style.display = 'none';
        document.getElementById('projected_end_date_for_excavation_no').style.display = 'none';
        document.getElementById('projected_end_date_for_excavation_yes').style.display = 'none';
        var element = document.getElementById('id_applicant_name');
        element.onblur = function() {
            var n=document.getElementById('applicant_name_no');
            var y=document.getElementById('applicant_name_yes');
            if(!validateApplicantName()){ 
                n.style.display='inline'; y.style.display='none'; 
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };
        element = document.getElementById('id_company');
        element.onblur = function() {
            var n=document.getElementById('company_no');
            var y=document.getElementById('company_yes');
            if(!validateCompany()){
                n.style.display='inline'; y.style.display='none';
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };
        element = document.getElementById('id_reason_for_excavation_or_boring');
        element.onblur = function(){
            var n=document.getElementById('reason_for_excavation_or_boring_no');
            var y=document.getElementById('reason_for_excavation_or_boring_yes');
            if(!validateReasonForExcavationOrBoring()){
                n.style.display='inline'; y.style.display='none';
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };
        element = document.getElementById('id_location_of_excavation_including_termination_points');
        element.onblur = function(){
            var n=document.getElementById('location_of_excavation_including_termination_points_no');
            var y=document.getElementById('location_of_excavation_including_termination_points_yes');
            if(!validateLocationOfExcavationIncludingTerminationPoints()){
                n.style.display='inline'; y.style.display='none'; 
            }
            else{
                n.style.display='none'; y.style.display='inline';
            }
        };
        element = document.getElementById('id_start_date_for_excavation')
        element.onblur = function() {                               
            var n=document.getElementById('start_date_for_excavation_no');
            var y=document.getElementById('start_date_for_excavation_yes');
            if(!validate_start_date_for_excavation()){ 
                n.style.display='inline'; y.style.display='none'; 
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };
        element = document.getElementById('id_projected_end_date_for_excavation')
        element.onblur = function() {                               
            var n=document.getElementById('projected_end_date_for_excavation_no');
            var y=document.getElementById('projected_end_date_for_excavation_yes');
            if(!validate_projected_end_date_for_excavation()){ 
                n.style.display='inline'; y.style.display='none'; 
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };
    </script>
</html>
