{% extends "djkorra/base.html" %}
{% block title %}
    Phone Move
{% endblock %}
{% block content_head %}
  <h1 id="page-title">Telephone Move/Add/Change Form</h1>
{% endblock %}
{% block extra_style %}
<style>
    .errorlist, .errors {
        color: red;
    }
    input[type=checkbox]
    {
      -webkit-appearance:checkbox;
    }
    input[type=radio]
    {
      -webkit-appearance:radio;
    }
</style>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
    $("img.hidden").css("display", "none");
    $('#id_name').change(function() {
        if(!validateName()){ 
            $('#name_no').css("display", "inline");
            $('#name_yes').css("display", "none");
        }
        else {
            $('#name_no').css("display", "none");
            $('#name_yes').css("display", "inline");
        }
    });
    $('#id_department').change(function() {
        if(!validateDepartment()){
            $('#department_no').css("display", "inline");
            $('#department_yes').css("display", "none");
        }
        else {
            $('#department_no').css("display", "none");
            $('#department_yes').css("display", "inline");
        }
    });
    $('#id_user_number').change(function() {
        if(!validateUserNumber()){
            $('#user_number_no').css("display", "inline");
            $('#user_number_yes').css("display", "none");
        }
        else {
            $('#user_number_no').css("display", "none");
            $('#user_number_yes').css("display", "inline");
        }
    });
    $('#id_from_location').change(function(){
        if(!validateFromLocation()){
            $('#from_location_no').css("display", "inline");
            $('#from_location_yes').css("display", "none");
        }
        else {
            $('#from_location_no').css("display", "none");
            $('#from_location_yes').css("display", "inline");
        }
    });
    $('#id_to_location').change(function(){
        if(!validateToLocation()){
            $('#to_location_no').css("display", "inline");
            $('#to_location_yes').css("display", "none");
        }
        else{
            $('#to_location_no').css("display", "none");
            $('#to_location_yes').css("display", "inline");
        }
    });
    $('#id_caller_id').change(function() {                               
        if(!validateCallerId()){ 
            $('#caller_id_no').css("display", "inline");
            $('#caller_id_yes').css("display", "none");
        }
        else {
            $('#caller_id_no').css("display", "none");
            $('#caller_id_yes').css("display", "inline");
        }
    });
    $('#id_date_of_change').change(function() {                               
        var n=document.getElementById('date_of_change_no');
        var y=document.getElementById('date_of_change_yes');
        if(!validateDateOfChange()){ 
            $('#date_of_change_no').css("display", "inline");
            $('#date_of_change_yes').css("display", "none");
        }
        else {
            $('#date_of_change_no').css("display", "none");
            $('#date_of_change_yes').css("display", "inline");
        }
    });
    function validateName(){
        var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
        return patt.test($("#id_name").val());        
    }        
    function validateDepartment(){
        var patt = new RegExp('^([a-zA-Z\\s?]+[a-zA-Z]+)$');
        return patt.test($("#id_department").val());
    }
    function validateUserNumber(){
        var patt = new RegExp('^((?:1?[\\s-\\.\\/]?\\(?(?:\\d{3})\\)?)?[\\s-\\.\\/]?\\d{3}[\\s-\\.\\/]?\\d{4}(?:\\s?(?:x|ext|\\.)?\\s?\\d{4})?|NEW)$');
        return patt.test($("#id_user_number").val());
    }
    function validateFromLocation(){
        var patt = new RegExp('^((?:[\\w\\s\\.\\!\\$\\(\\)\\/\\,\\:\\;\\?\\\'\\-])+[\\w\\.\\!\\?\\)]+)$');
        return patt.test($("#id_from_location").val());
    }
    function validateToLocation(){
       var patt = new RegExp('^((?:[\\w\\s\\.\\!\\$\\(\\)\\/\\,\\:\\;\\?\\\'\\-])+[\\w\\.\\!\\?\\)]+)$');
       return patt.test($("#id_to_location").val());
    }
    function validateCallerId(){
        var patt = new RegExp('^((?:[a-zA-Z]+\\s?)+[a-zA-Z]+)$');
        return patt.test($("#id_caller_id").val());
    }
    function validateDateOfChange(){
        if($("#id_date_of_change").val() == "")
        {
            return false;
        }
        var newdate = new Date();
        var value = $("#id_date_of_change").val().split("-");
        var inputdate = new Date(value[0],value[1]-1,value[2]);
        if (inputdate.getTime() < newdate.getTime()){
            return false;
        }
        else{
            return true;
        }
    }
</script>
{% endblock %}
{% block content %}
<h3>Please fill out the information below to request a telephone move, add, or change.  If you have any questions,
    please call Ryan Ade at ext. 2146</h3>
<form action="" method="post" class="form"> {% csrf_token %}
    <fieldset class="blockLabels">
        <legend>User Information</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_name">Name of User</label></h3>
                <div class="required">
                    {{form.name}}
                    {{form.name.errors}}
                    <img style='display:none;' id='name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img style='display:none;' id='name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_department">Department</label></h3>
                <div class="required">
                    {{form.department}}
                    {{form.department.errors}}
                    <img style='display:none;' id='department_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img style='display:none;' id='department_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_user_number">Current User Number. If the user is new and needs a number type "NEW"</label></h3>
                <div class="required">
                    {{form.name}}
                    {{form.name.errors}}
                    <img style='display:none;' id='user_number_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img style='display:none;' id='user_number_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
        </ol>
    </fieldset>
    <fieldset class="blockLabels">
        <legend>Request Information</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_request_0">What are you requesting?</label></h3>
                <ul>
                    <li><label for="id_request_0"><input checked="checked" id="id_request_0" name="request" type="radio" value="MOVE" />Move</label></li>
                    <li><label for="id_request_1"><input id="id_request_1" name="request" type="radio" value="ADD" /> Add</label></li>
                    <li><label for="id_request_2"><input id="id_request_2" name="request" type="radio" value="REPL" /> Replacement</label></li>
                    <li><label for="id_request_3"><input id="id_request_3" name="request" type="radio" value="CHNG" /> Change of Service
                    <label></li>
                </ul>
                {{form.request.errors}}
            </li>
            <li class="ctrlHolder"><h3><label for="id_from_location">Where is the user moving from? If the user is new, type NEW. Include 
                    Building Name and Room Number</label></h3>
                <div class="required">
                    {{form.from_location}}
                    {{form.from_location.errors}}                      
                    <img style='display:none;' id='from_location_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img style='display:none;' id='from_location_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_to_location">Where is the user moving to?</label></h3>
                <div class="required">
                    {{form.to_location}}
                    {{form.to_location.errors}}
                    <img style='display:none;' id='to_location_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img style='display:none;' id='to_location_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_caller_id">Desired Caller ID</label></h3>
                <div class="required">
                    {{form.caller_id}}
                    {{form.caller_id.errors}}
                    <img style='display:none;' id='caller_id_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img style='display:none;' id='caller_id_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_date_of_change">Date of move, add, or change</label></h3>
            <div class="required">
                    {{form.date_of_change}}
                    {{form.date_of_change.errors}}
                <img style='display:none;' id='date_of_change_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                <img style='display:none;' id='date_of_change_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
            </div>                
        </li>
        </ol>
    </fieldset>
    <fieldset class="blockLabels">
        <legend>Email and Submit</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_email">Check this box if you would like the form to be emailed to you upon completion.</label></h3>
                {{form.email}}
                {{form.email.errors}}
            </li>
            <li class="btnHolder">
                <label for="submit">&nbsp;&nbsp;</label>
                <input type="Submit" name="submit" value="Submit" class="button"/>
            </li>
        </ol>
    </fieldset>
</form>
{% endblock %}