{% extends "djkorra/base.html" %}
<!doctype html>
<html lang='en' style='background-color:rgb(229,220,193);'>
<head>
    <meta charset='utf-8' />
    <title>Event Parking Form</title>
    {% block javascript %}
    <script type='text/javascript'>
        function validate_name(){
            var id = document.getElementById('id_contact_person');
            var val = id.value;
            var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
            return patt.test(val);        
        }
        function validate_phone(){
            var number = document.getElementById('id_phone_number')
            var val = number.value;
            var patt = new RegExp('^((?:1?[\\s\\-\\.\\/]?\\(?(?:\\d{3})\\)?)?[\\s\\-\\.\\/]?\\d{3}[\\s\\-\\.\\/]?\\d{4}(?:\\s?(?:x|ext|\\.)?\\s?\\d{4})?)$');
            return patt.test(val);
        }
        function validate_event_name(){
            var id = document.getElementById('id_event_name');
            var val = id.value;
            var patt = new RegExp('^((?:[\\w]+\\s?)+[\\w]+)$');
            return patt.test(val);
        }
        function validate_event_location(){
            var id = document.getElementById('id_event_location');
            var val = id.value;
            var patt = new RegExp('^((?:[\\w]+\\s?)+[\\w]+)$');
            return patt.test(val);
        }
        function validate_crowd_estimate(){
            var id = document.getElementById('id_crowd_estimate');
            var val = id.value;
            var patt = new RegExp('^(\\d{1,7})$');
            return patt.test(val);
        }
        function validate_event_date(){
            var id = document.getElementById('id_event_date');
            var val = id.value;
            var newdate = new Date();
            var value = val.split("-");
            var inputdate = new Date(value[0],value[1]-1,value[2]);
            if (inputdate.getTime() < newdate.getTime()){
                return false;
            }
            else if (val == ""){
                return false;
            }
            else{
                return true;
            }
        }
    </script>
    {% endblock %}
    <link rel='stylesheet' type='text/css' href='{{ static_url }}djbuis/css/base_css.css'>
    <link href="//www.carthage.edu/themes/shared/css/icons.css" type="text/css" rel="stylesheet" />
    <link href="//www.carthage.edu/static/vendor/dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="//www.carthage.edu/themes/shared/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/themes/shared/css/tables.css" rel="stylesheet" type="text/css" />
</head>
{% block content %}
<body>
    <div>
        {% if submitted %}
            <h2>Thank You. Your form has been submitted!</h2>
        {% endif %}
    </div>
    <h1>Special Event Parking Requirements</h1>
    <div>
        {{ form.non_field_errors }}
        <p>To maintain order and promote safety for all of our students and guests, parking requirements for special events must be enacted. These requirements are also enacted to protect our student's interests and develop appropriate expectations for event organizers and their guests as regards to available parking assets on our campus. Your cooperation in this matter is greatly appreciated.</p>
        <ul>
            <li>Reserving a facility does not guarantee any parking assets for your guests on campus.</li>
            <li>The responsible event sponsor must contact the Security Director (551-5911) to make all parking arrangements at the time the event is scheduled with the campus reservationist.</li>
            <li>The contact person may be required to meet with the Security Director. This meeting should be held no later than 3 weeks prior to the scheduled event. This timing will allow the event sponsor adequate time to disseminate information to the event guests and participants.</li>
            <li>Parking resources are limited. Failure to register your event and secure parking assets with the Security Director may very well result in no parking availability to your guests and participants.</li>
            <li>It is the responsibility of the event sponsor to inform their guests what parking assets are being made available for their use and where these parking assets are in relation to event location. Security officers may be stationed during certain events and will direct the guests where to park.</li>
            <li>Guest and visitor parking available for events located south of Lentz Hall is limited to Lot I. All other parking is located within the northern campus lots.</li>
            <li>Event sponsors may wish to arrange for shuttles for your events. Coordination of the shuttles, the use of campus fleet vehicles, and obtaining authorized drivers is the responsibility of the event sponsor.</li>
            <li>Within reason, Security will allow for drop offs in front of the building that the event is scheduled at.</li>
            <li>Depending on scheduling Event sponsors may be required to arrange parking at an off campus site with guests and event participants shuttled to campus from this off campus location.</li>
        </ul>
        <form action='' method='post'>{% csrf_token %}
            <span style='font-size:120%;font-weight:bold;'>Event information</span><hr>
                <table style='background-color:rgb(192,157,106);'>
                    <tr>
                        <td><span style='font-weight:bold;'>{{ form.event_name.label }}</span></td>
                        <td>{{ form.event_name }}</td>
                        <td>
                            <img style='display:none;' id='event_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='event_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for error in form.event_name.errors %}
                                <span class='error'>*{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><span style='font-weight:bold;'>{{ form.event_location.label }}</span></td>
                        <td>{{ form.event_location }}</td>
                        <td>
                            <img style='display:none;' id='event_location_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='event_location_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for error in form.event_location.errors %}
                                <span class='error'>*{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>            
                    <tr>
                        <td><span style='font-weight:bold;'>{{ form.event_date.label }}</span></td>
                        <td>{{ form.event_date }}</td>
                        <td>
                            <img style='display:none;' id='event_date_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='event_date_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for error in form.event_date.errors %}
                                <span class='error'>*{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><span style='font-weight:bold;'>{{ form.event_time.label }}</span></td>
                        <td>{{ form.event_time }}</td>
                        <td>
                            {% for error in form.event_time.errors %}
                                <span class='error'>*{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><span style='font-weight:bold;'>{{ form.crowd_estimate.label }}</span></td>
                        <td>{{ form.crowd_estimate }}</td>
                        <td>
                            <img style='display:none;' id='crowd_estimate_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='crowd_estimate_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for error in form.crowd_estimate.errors %}
                                <span class='error'>*{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <span style='font-size:120%;font-weight:bold;'>Contact information</span><hr>
                <table style='background-color:rgb(192,157,106);'>
                    <tr>
                        <td><span style='font-weight:bold;'>{{ form.contact_person.label }}</span></td>
                        <td>{{ form.contact_person }}</td>
                        <td>
                            <img style='display:none;' id='contact_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='contact_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for error in form.contact_person.errors %}
                                <span class='error'>*{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><span style='font-weight:bold;'>{{ form.phone_number.label }}</span></td>
                        <td>{{ form.phone_number }}</td>
                        <td>
                            <img style='display:none;' id='phone_number_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img style='display:none;' id='phone_number_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for error in form.phone_number.errors %}
                                <span class='error'>*{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br><br>
            <input type='submit' value='Submit form'>
        </form>
    </div>
</body>
<script>
    document.getElementById('contact_no').style.display='none';
    document.getElementById('contact_yes').style.display='none';
    document.getElementById('phone_number_no').style.display='none';
    document.getElementById('phone_number_yes').style.display='none';
    document.getElementById('event_name_no').style.display='none';
    document.getElementById('event_name_yes').style.display='none';
    document.getElementById('event_location_no').style.display='none';
    document.getElementById('event_location_yes').style.display='none';
    document.getElementById('crowd_estimate_no').style.display='none';
    document.getElementById('crowd_estimate_yes').style.display='none';
    document.getElementById('event_date_no').style.display='none';
    document.getElementById('event_date_yes').style.display='none';
    var element = document.getElementById('id_contact_person');
    element.onblur = function(){
        var n=document.getElementById('contact_no');
        var y=document.getElementById('contact_yes');
        if(!validate_name()){ 
                    n.style.display='inline'; y.style.display='none'; 
                    }
                else {
                    n.style.display='none'; y.style.display='inline';
                    }
    };
    element = document.getElementById('id_phone_number')
    element.onblur = function(){
        var n=document.getElementById('phone_number_no');
        var y=document.getElementById('phone_number_yes');
        if(!validate_phone()){ 
                    n.style.display='inline'; y.style.display='none'; 
                    }
                else {
                    n.style.display='none'; y.style.display='inline';
                    }
    };
    element = document.getElementById('id_event_name')
    element.onblur = function(){
        var n=document.getElementById('event_name_no');
        var y=document.getElementById('event_name_yes');
        if(!validate_event_name()){ 
                    n.style.display='inline'; y.style.display='none'; 
                    }
                else {
                    n.style.display='none'; y.style.display='inline';
                    }
    };
    element = document.getElementById('id_event_location')
    element.onblur = function(){
        var n=document.getElementById('event_location_no');
        var y=document.getElementById('event_location_yes');
        if(!validate_event_location()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    element = document.getElementById('id_crowd_estimate')
    element.onblur = function(){
        var n=document.getElementById('crowd_estimate_no');
        var y=document.getElementById('crowd_estimate_yes');
        if(!validate_crowd_estimate()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    element = document.getElementById('id_event_date')
    element.onblur = function() {                               
        var n=document.getElementById('event_date_no');
        var y=document.getElementById('event_date_yes');
        if(!validate_event_date()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };    
</script>
</html>
{% endblock %}