<!doctype html>
<html lang="en">
<style>
    #othertable {
         display: none;
    }
</style>
<head>
    <meta charset="utf-8" />
    <title>Key Request Form</title>
    <link rel='stylesheet' type='text/css' href='{{static_url}}djbuis/css/base_css.css'/>
    <script type='text/javascript'>
    function validateissued_to(){
        var id = document.getElementById('id_issued_to');
        var val = id.value;
        var patt = new RegExp('^[a-zA-Z]+[a-zA-Z\\-\\s]*$');
        return patt.test(val);
    }
    function validateissued_to1(){
        var id = document.getElementById('id_issued_to1');
        var val = id.value;
        var patt = new RegExp('^[a-zA-Z]+[a-zA-Z\\-\\s]*$');
        return patt.test(val);
    }
    function validateissued_to2(){
        var id = document.getElementById('id_issued_to2');
        var val = id.value;
        var patt = new RegExp('^[a-zA-Z]+[a-zA-Z\\-\\s]*$');
        return patt.test(val);
    }
    function validateissued_to3(){
        var id = document.getElementById('id_issued_to3');
        var val = id.value;
        var patt = new RegExp('^[a-zA-Z]+[a-zA-Z\\-\\s]*$');
        return patt.test(val);
    }
    function validateissued_to4(){
        var id = document.getElementById('id_issued_to4');
        var val = id.value;
        var patt = new RegExp('.');
        return patt.test(val);
    }
    function validateContact_Number(){
        var id = document.getElementById('id_contact_number');
        var val = id.value;
        var patt = new RegExp('^1?[\\s\\-]?\\(?\\d{3}\\)?[\\s\\-]?\\d{3}[\\s\\-]?\\d{4}$');
        return patt.test(val);
    }
    function validateName(){
        var id = document.getElementById('id_name');
        var val = id.value;
        var patt = new RegExp('^[a-zA-Z\']+[a-zA-Z\\-\\s\']+$');
        return patt.test(val);
    }
    function validateAccount(){
        var id = document.getElementById('id_account');
        var val = id.value;
        var patt = new RegExp('^.+$');
        return patt.test(val);
    }
    </script>
</head>
<body>
<div>
{% if submitted %}
        <h2>Your form has been submitted, thank you</h2>
{% endif %}
</div>
    <div>
        <div class='sidebar'>
            <img src='http://imageshack.us/a/img651/7008/carthage1.png'></img>
        </div>
        <div class='mainbar'>
            <div class='header'>
                <text class='headertext'>Business Office Key Request Form</text>
            </div><br>
            {{ form.non_field_errors }}
            <form action='' method='post'>{% csrf_token %}
                {{ formset.management_form }}
                <text class='separator'>Personal Info</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.name.label }}</text></td>
                        <td>{{ form.name }}</td>
                        <td>
                            <img class='hidden' id='name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            <img class='hidden' id='name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            {% for e in form.name.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.contact_number.label }}</text></td>
                        <td>{{ form.contact_number }}</td>
                        <td>
                            <img class='hidden' id='contact_number_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='contact_number_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.contact_number.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.account.label }}</text></td>
                        <td>{{ form.account }}</td>
                        <td>
                            <img class='hidden' id='account_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            <img class='hidden' id='account_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            {% for e in form.account.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Reason for request</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.reason.label }}</text></td>
                        <td>
                               {% for thing in form.reason %}
                               {{ thing }}
                               <br>
                        {% endfor %}        
                        </td>
                        <td>
                            {% for e in form.reason.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr id="othertable">
                        <td><text class='fieldlabel'>{{ form.other.label }}</text></td>
                        <td>{{ form.other }}</td>
                        <td>
                            {% for e in form.other.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Key information</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>Building</text></td>
                        <td><text class='fieldlabel'>Room number</text></td>
                        <td><text class='fieldlabel'>Key Code if known</text></td>
                        <td><text class='fieldlabel'>Issued to</text></td>
                    </tr>
                    {% for form in formset %}
                    <tr>
                        {% for field in form %}
                        <td>
                            {{ field }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for field in form %}
                        <td>
                            {% for e in field.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Add" id="add" name="add"><br><br>
                <input type="submit" name="submit" value="Submit form">
            </form>
        </div>
    </div>
</body>
    <script type='text/javascript'>
    var element = document.getElementById('id_contact_number');
    element.onblur = function() {
        var n=document.getElementById('contact_number_no');
        var y=document.getElementById('contact_number_yes');
        if(!validateContact_Number()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    var element = document.getElementById('id_name');
    element.onblur = function() {
        var n=document.getElementById('name_no');
        var y=document.getElementById('name_yes');
        if(!validateName()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    var element = document.getElementsByName('reason');
    for (var i = 0; i < element.length; i++)
       {
            element[i].onclick = function() {
            var value = this.value;
            var othervar = document.getElementById('othertable'); 
            if (value != "OTH"){
                othervar.style.display = 'none';
                }
            else{
                othervar.style.display = 'table-row';
                }
            };
        }
    var element = document.getElementById('id_account');
    element.onblur = function() {
        var n=document.getElementById('account_no');
        var y=document.getElementById('account_yes');
        if(!validateAccount()){
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    </script>
</html>
